
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color:#0ab364;
    line-height: 1.5;
    letter-spacing: 1px;
}
.About-wrapper{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.About-testimonial{
    padding: 30px 100px;
}
article .About-h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: #C69455;
}

article .About-h1::after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article img{
    margin-top: 20px;
    height: 300px;
    width: 350px;
    border: 2px solid#fff;
    border-radius: 25%;
}

backquotes{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

article .About-h5{
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 30px;
    color: #C69455;
}

.about-h3 {
    font-weight: bolder;
    color: #C69455;
}

.about-p {
    text-align: center;
    font-size: 15px;
}

.about-h2 {
    font-size: 25px;
    color: #C69455;
}
