.visit_body{
    min-height: 800px;
    border: 0px solid #2C4A3C;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;
    gap:80px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.box2{
    height: 349px;
    width: 284px;
    background-color: #D9D9D91A;
    color: #EEEEEE;
    font-size: 32px;
    text-align: center;
    align-items: center;
    border-radius: 25px;
}

.visit_header{
    font-family: Cormorant Garamond;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2C4A3C;
}

.Visit_Us {
    background-color: #2C4A3C;
}

.circle-border {
    background-color: #C69455;
    width: 50px;
    height: 50px;
    border: 2px solid #C69455;
    border-radius: 50%; 
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
}

  .fa-clock {
    color:#ffffff;
    margin: 0 auto;
    padding: 10px;
}

.fa-phone {
    color: #ffffff;
    margin: 0 auto;
    padding: 10px;
}
  
.fa-map-fa-map-location-dot {
    color: #ffffff;
    margin: 0 auto;
    padding: 10px;
}

.visit_h2 {
    font-size: 32px;
    font-family: Montserrat;
}

.visit_h3{
    padding: 10px;
    font-size: 32px;
    font-family: Cormorant Garamond;
}

.visit_p{
    padding: 10px;
    font-size: 15px;
    font-family: Montserrat;
    margin-top: 10px;
}

.V_Get_Direction{
    flex: row;
    padding: 5px;
    border: none;
    margin-top: 35px;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    font-size: 13px;
    margin-left: 60px;
    margin-right: 60px;
}

.V_Make_Reservation{
    flex: row;
    padding: 5px;
    border: none;
    margin-top: 35px;
    border-radius: 4px;
    background-color: #C69455;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    font-size: 13px;
    margin-left: 60px;
    margin-right: 60px;
}