.rectangle-93,
.rectangle-93 * {
  box-sizing: border-box;
}
.rectangle-93 {
  background: #1a2e28;
  height: 391px;
  position: relative;
}
.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  height: 46px;
  position: relative;
}
.sustainable-luxury-dining-that-celebrates-nature-s-bounty-through-innovative-plant-based-cuisine {
  color: #eeeeee;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-8,
.ellipse-8 * {
  box-sizing: border-box;
}
.ellipse-8 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 43px;
  height: 41px;
  position: relative;
}
.ellipse-9,
.ellipse-9 * {
  box-sizing: border-box;
}
.ellipse-9 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 43px;
  height: 41px;
  position: relative;
}
.ellipse-10,
.ellipse-10 * {
  box-sizing: border-box;
}
.ellipse-10 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 43px;
  height: 41px;
  position: relative;
}
.ellipse-11,
.ellipse-11 * {
  box-sizing: border-box;
}
.ellipse-11 {
  background: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  width: 43px;
  height: 41px;
  position: relative;
}
.quick-links,
.quick-links * {
  box-sizing: border-box;
}
.quick-links {
  color: #ffffff;
  text-align: center;
  font-family: "CormorantGaramond-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: relative;
  width: 130px;
}
.home,
.home * {
  box-sizing: border-box;
}
.home {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  width: 52px;
  height: 11px;
}
.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  width: 48px;
  height: 11px;
}
.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  width: 76px;
  height: 11px;
}







